html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  right: 0;
  background-color: aqua;
  box-shadow: 10px 5px 5px 1px rgb(6, 101, 101);
}

nav > ul {
  position: sticky;
  display: flex;
  justify-content: flex-end;
}

nav > ul > li {
  list-style-type: none;
  margin: 1em;
}

@media (min-width: 900px) {
  li {
    font-size: 1.25rem;
  }
}

.intro {
  display: flex;
  height: 100vh;
  padding: 20em 0 10em 15em;
  background-image: url(bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}

.profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 2em;
}

.heading {
  font-size: 5rem;
  font-weight: bold;
}

main {
  color: white;
  background-image: url(bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}

section > h2 {
  font-size: 3rem;
}

.aboutMe > h2 {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.border {
  padding: 5em 35em 10em 35em;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  font-size: 1.25rem;
}

img {
  border: solid rgb(13, 109, 109) 2px;
  border-radius: 5px;
  width: 475px;
  height: 300px;
  box-shadow: 2px 2px 15px 2px rgb(0, 255, 255);
}

.projectTitle {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.projectContainer {
  padding: 2em;
}

.project {
  display: flex;
  margin: 3em;
  padding-left: 12em;
  gap: 15em;
}

h3 {
  font-size: 2rem;
  padding-bottom: 1em;
}
