*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

h2,
h3 {
  font-family: 'Kaushan Script', cursive;
}

p {
  font-family: 'Cabin Sketch', cursive;
}

nav {
  position: fixed;
  width: 100vw;
  background-color: rgb(0, 255, 255);
  box-shadow: 10px 5px 5px 1px rgb(6, 101, 101);
}

nav > ul {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
  font-weight: bold;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.25rem;
}

a {
  list-style-type: none;
  margin: 1em;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a > li:hover {
  box-shadow: 1px 1px 5px 5px rgb(2, 172, 172);
  border-radius: 5px;
}

.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: url(bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 225px;
  height: 225px;
  object-fit: cover;
}

.heading {
  font-size: 5.25rem;
  font-weight: bold;
  display: flex;
  padding-left: 2em;
  font-family: 'Kaushan Script', cursive;
}

main {
  color: white;
  background: url(bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  font-size: 3rem;
  color: aqua;
}

.aboutMe > h2 {
  display: flex;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 1em;
}

.border {
  padding: 0em 35em 10em 35em;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  font-size: 1.25rem;
}

a > img:hover {
  box-shadow: 2px 2px 15px 5px rgb(0, 255, 255);
}

img {
  border-radius: 5px;
  width: 475px;
  height: 300px;
}

.projectTitle {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.projectContainer {
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin-right: 15em;
  margin-left: 15em;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin: 3em;
  gap: 15em;
}

.project > a > img {
  box-shadow: 2px 2px 20px 2px rgb(20, 185, 185);
}

.project > a > img:hover {
  box-shadow: 2px 2px 25px 2px rgb(0, 255, 255);
}

.text {
  font-size: 1.1rem;
}

.row {
  width: 35%;
  display: grid;
}

.row > h3 {
  display: flex;
  align-items: center;
}

h3 {
  font-size: 2rem;
  padding-bottom: 1em;
}

footer {
  background: url(bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.contact > h2 {
  font-size: 3rem;
  color: aqua;
}

.contact {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5em 0em 1em 25em;
}

.contactInfo {
  padding-top: 2em;
}

.form {
  display: flex;
  justify-content: flex-end;
  padding-top: 3em;
  padding-right: 25em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

input {
  padding: 0.25em;
}

button {
  width: 70px;
  border-radius: 15px;
  outline: none;
  background: #171616;
  color: aqua;
  cursor: pointer;
}

button:hover {
  background: #302f2f;
}

@media (max-width: 475px) {
  img {
    width: 300px;
    height: 250px;
  }

  nav {
    display: flex;
  }

  nav > ul > li {
    font-size: 10px;
  }

  .heading {
    display: flex;
    flex-direction: column;
  }

  .title {
    text-align: center;
  }
}

@media (max-width: 1015px) {
  h2 {
    font-size: 2rem;
  }

  .card {
    font-size: 1rem;
  }

  .heading {
    font-size: 4rem;
  }

  .profile {
    width: 200px;
    height: 200px;
  }

  .row {
    width: 100%;
  }

  .projectContainer {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 742px) {
  .heading {
    font-size: 2rem;
  }

  .profile {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1790px) {
  .project {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .row > h3 {
    display: flex;
    justify-content: center;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;

    .text {
      text-align: center;
    }
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contactInfo {
    width: 70%;
  }

  input {
    width: 500px;
  }
}
